{% extends 'base.html' %}

{% block content %}
<center>
    <h1>Hello {{ First_name }}! Events for {{ month }} {{ Year }}</h1>
    As of {{ time }}
    <br><br>
    {{ cal|safe }}
<br><br>


<h3>Events This Month.....</h3>
{% if event_list %}
  {% for event in event_list %}
    {{ event }} - {{ event.event_date }} <br>
  {% endfor %}
{% else %}
Sorry.... There are no events this month.....
{% endif %} <br> <br>


<div class="card text-center">
    <div class="card-header">
   Quote
    </div>
    <div class="card-body">
      <h5 class="card-title">Wake up to reality!!!.</h5>
      <h6 class="card-text">Nothing ever goes as planned in this accursed world.</h6>
      <p class="card-text">The longer you live, the more you realize that the only things that truly exist in this reality are merely pain, suffering and futility. </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer text-body-secondary">
      Madara Uchiha👽
    </div>
  </div>
    <br><br><br>
    &copy; {{ current_year }}
</center>
{% endblock %}
