{% extends 'base.html' %}

{% block content %}


  

   <div class="card">
    <div class="card-header">
    Venues
    </div>
    <div class="card-body">
      <h5 class="card-title">Venue:{{ venue }}</h5>
      <p class="card-text">
       
    

    <ul>
     <li>  <b> Address:</b>{{ venue.address }} </li><br>
       <li> <b>Zipcode:</b>{{ venue.zip_code }}</li> <br>
       <li><b> Phone:</b>{{ venue.phone }} </li><br>
       <li><b> Email:</b>{{ venue.email_address }}</li> <br>
       <li><b>Web</b><a href=""> {{ venue.web }} </a></li><br>
       <li>Owner: {{venue_owner}}</li>
       <li>Owner Email: {{venue_owner.email}}</li>
    </ul><br>

    {% if venue.venue_image %}
<img src="{{venue.venue_image.url}}" alt="" width="300px">
   

    {% endif %}
<br> <br>
<h3>Events At This Venue...</h3>

{% if events %}

      {% for event in events %}
      <a href="{% url 'show_event' event.id %}">{{event}}</a> <br>
      {% endfor %}
{% else %}
      No Events Scheduled In This Venue....

{% endif %}
<br>
      </p></div>
  </div>  
  

{% endblock %}
 